<p>Clans cadastrados:</p>

<%@clans.each do |clan|%>
	<%=clan.name%>
	<%=link_to 'Ver', clan_path(clan.id), method: :get%><br/>
<%end%>
<br/>
<%=link_to 'Cadastrar novo clan', new_clan_url, method: :get%><br/>
<%=link_to 'Voltar para a página principal', main_index_url%>